body {
    font-family: 'Segoe UI', sans-serif;
}

.main {
    background-color: #0E1117;
    color: white;
}

h1, h2, h3 {
    color: #00C6FF;
}

.stButton>button {
    background: linear-gradient(90deg, #00C6FF, #0072FF);
    color: white;
    border-radius: 10px;
}